data_dir: /tmp/vector
log_schema:
  host_key: instance_id
sources:
  docker_host:
    type: docker_logs

transforms:
  project_logs:
    type: remap
    inputs:
      - docker_host
    source: |
      if !exists(.container_name) {
        abort
      }

sinks:
  logflare_logs:
    type: http
    inputs:
      - project_logs
    uri: http://logflare:4000/logs/generic?api_key=${LOGFLARE_API_KEY:-your-super-secret-and-long-logflare-key}
    encoding:
      codec: json
    healthcheck:
      enabled: false
